@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color:rgb(76, 156, 187);
}

.grid, header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 150px 1fr 5fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 840px;
}

h1 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 60px;
	font-family: cursive;
	color: whitesmoke;
    top: 20px;
    left: 280px;
    position: absolute;
    text-shadow: 0 0 10px rgba(0,1,1, 1);
}

h2 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 35px;
	color: white;
    position: relative;
    text-shadow: 0 0 10px rgba(0,1,1, 1);
    text-align: center;
}

.hero {
    position: relative;
    
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.hero article {
    width: 100%;
    text-align: justify;
    position: absolute;
    top: 100px;
}

.hero article img {
    padding: 10px;
    padding-bottom: 20px;
    width: 200px;
    height: auto;
    float: right;
    
}

.hero article p {
    padding: 15px;
    padding-bottom: 40px;
    font-size: 25px;
    color: aliceblue;
    background-color: #242424e0;
} 

nav {
    background-color:rgb(76, 156, 187);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
}

nav a{
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: antiquewhite;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 140px;
	height: auto;
}

.grid {
    display: grid;
    align-items: center;
}


.column {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(1, 20vw);
    grid-gap: 1px;
}

.column .card img{
    grid-gap: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0.2rem;
}

.hero section .column1 p {
    font-size: 1.4em;
}

.column1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 20vw);
    grid-gap: 30px;
    text-align: justify;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

footer {
    display: flex;
    justify-content: space-around;
}

.para {
    float: left;
    width: 75%;
    padding-left: 2rem;
    padding-top: 35px;
}

.para p{
    font-size: 20px;
}

.socialmedia {
    float: right;
    width: 25%;
    padding-right: 3rem;
    padding-top: 0px;
}

.socialmedia img {
    width: 50px;
}


/* Contact us page */


.contactUs {
    position: relative;
    width: 100%;
    padding: 15px 15px;
}

.contactUs .title {
    padding: 45px;
    max-width: 100%;
    display: grid;
    justify-content: center;
    align-items: right;
    font-size: 2em;
}


.contactUs .title h4 {
    font-size: 3.5rem;
    color: #fff;
    font-weight:700;
}

.contact {
    padding: 30px;
    background: #fff;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.box {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.info {
    width: 50%;
    height: auto;
    padding: 5px;
}

.map {
    width: 50%;
    height: auto;
    padding: 5px;
}

.info {
    background: #0e3959;
}

.info h3 {
    color: #fff;
    margin-bottom: 10px;
}

.info .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p {
    color: #fff;
    font-size: 1.1em;
}

.info .infoBox div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.sci {
    margin-top: 40px;
    display: flex;
}

.sci li {
    list-style: none;
    margin-right: 15px;
}

.sci li a {
    color: #fff;
    font-size: 2em;
    color: #ccc;
}

.sci li a:hover {
    color: #fff;
}

.map {
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 100%;
}

/* images */
 .container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
 }

.card {
    width: 250px;
    height: 220px;
    display: grid;
    grid-template-rows: minmax(100%,1fr);
    grid-template-areas: "stack";
    overflow: hidden;
    border: 3px solid #333;
    border-radius: 15px;
 }

.card img, .card figcaption {
    grid-area: stack;
 }

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

.card figcaption {
    background-color: #242424;
    transform: translateY(calc(100% - 2rem));
    transition: transform 0.6ms;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
 }
 
.contact legend {
    color: #0e3959;
    font-weight: 500;
    font-size: 1.2em;
}

.box h2 {
    display: inline;
    text-align: justify;
}

form {
    width: 840px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input [type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.column5 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.column3 {
    display: flex;
    justify-content: space-around;   
}

.column4 {
    display: grid;
}

.form {
    background-color: #0e3959;
}

.contact .form, h3 {
    color: #fff;
}

.link-wf {
    color: #242424
}
.link-wf a {
    font-size: 1.3em;
}


/* trips page */

.booking {
    padding: 15px;
    font-size: 3rem;
    text-align: center;
}

.booking a{
    color: #150b4eb2;
    text-decoration: none;
    font-weight: 600;
}

.booking a:hover {
    color: rgb(98, 30, 187);
}


.boxtrips {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.card2 {
    width: 320px;
    height: 320px;
    display: grid;
    grid-template-rows: minmax(100%, 1fr);
    grid-template-areas: "stock";
    overflow: hidden;
    border: 3px solid #333;
    border-radius: 20px;
}

.card2 img, .card2 figcaption {
    grid-area: stock;
}

.card2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card2 figcaption {
    background-color: #242424e0;
    transform: translateY(calc(100% - 3rem));
    color: #fff;
    text-align: center;
}

.card2 figcaption h5 {
    height: 3rem;
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 0.95rem;
}


.card2:hover figcaption {
    transform: none;
}

 .hero-title h1{
    padding-top: 50px
}

.hero .hero-title h2 {
    padding-top: 250px;  
    font-size: 4rem
}

.hero .hero-title h2 p {
    display: flex;     
}

.hero-title h3 {
    font-size: 4rem;
    text-shadow: 0 0 10px rgba(0,1,1, 1);
    text-align: center;
}

.signfom {
    position: relative;
    align-items: center;
}

.signfom form{
    width: 100%;
    height: 100px;
    display: flex;
    padding-bottom: 0;
}

.signfom span {
    padding-left: 5px;
    padding-top: 10px;
    font-size: 1.2rem;
}

.sign-item {
    padding-left: 5px;
}

.sign-item col1 {
    align-items: center;
}

.sign-item col2 {
    align-items: center;
}

.sign-item button {
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
    vertical-align: top;
}

.sign-item button:hover {
    color: blueviolet;
}

.link-trip {
    background: none;
}

.link-trip a {
    color: rgba(233, 248, 20, 0.973);
    text-shadow: 0 0 10px rgb(1, 1, 0);
    font-size: 3.5rem;
}

.link-trip a:hover {
    color: rgba(34, 252, 63, 0.973);
}

.wf {
    padding: 30px;
}

.wf a {
    color: #0e3959;
    font-size: 1rem;
}