@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

h1 {
    margin: 1rem;
    font-size: 2rem;
    color: green;
    text-align: center;
}

form {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: green;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

option {
    text-size-adjust: 100%;
}

button {
    width: 100%;
    margin: 1rem;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 0.75rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: gray;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 1em;
    color: #777;
    border-top: 1px solid #ccc;
}