* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
    padding-left: 1rem;
}


main {
    max-width: 840px;
}

main img {
    width: 180px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 23.5rem;
    text-align: justify;
    position: relative;
}

aside h2 {
    position: absolute;
    top:50px;
    left: 150px;
    color: aliceblue;

}

aside img {
    width: 340px;
    height: auto;
    margin-top: 1em;
}


footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}


/* Class Selectors */

.box{
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.25); 
    padding: 1rem;
    background-color: whitesmoke;
    color: darkblue;
}

.indent {
    padding-left: 2rem;
}
